<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
<!-- 		<typeAlias type="org.dd.note.back.boot.pojo.UserInfo" alias="user"/> -->
	</typeAliases>
	<mappers>
			<mapper class="org.bugkillers.back.tag.dao.TagMapper"/>
			<mapper class="org.bugkillers.back.user.dao.UserMapper"/>
	</mappers>
	
</configuration>