<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:property-placeholder location="classpath:resources.properties" />
	<context:property-placeholder location="classpath:swagger.properties" />
	
	<mvc:annotation-driven />

	<!-- Serve static content -->
	<mvc:default-servlet-handler />


	<!-- 样式话API工具 -->
	<!-- <bean class="org.bugkillers.back.swagger.CustomJavaPluginConfig" /> -->
	<!-- 对json支持 -->
	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes" value="application/json" />
		<property name="prettyPrint" value="true" />
	</bean>

</beans>
