<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:property-placeholder location="classpath:resources.properties" />
	<context:property-placeholder location="classpath:swagger.properties" />

	<!-- 扫描注解Bean -->
	<context:component-scan base-package="org.bugkillers">
	</context:component-scan>
	<mvc:annotation-driven />
	<!-- 类型转换及数据格式化 -->
	<bean id="conversionService" name="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean" />

	<!-- 静态资源映射 -->
	<mvc:resources mapping="/static/**" location="/static/" />
	

	<!-- Serve static content-->
	<mvc:default-servlet-handler/>
	
	
<!-- 		样式话API工具 -->
<!-- 	<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig" /> -->
	<bean class="org.bugkillers.back.swagger.CustomJavaPluginConfig" />
	
	
</beans>
