.logo {
    height: 60px;
    width: 80px;
    margin-top: 10px;
    margin-left: 50px;
}

.backimg {
    height: 300px;
    width: 400px;
}

.logindiv {
    margin: 30px 20px 100px;
}

.main div {
    margin: 10px 0px;
}

#footer {
}

