<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <mappers>
        <!--此处配置mapper文件-->
        <mapper resource="spring/dao/mapper/UserDOMapper.xml"/>
        <mapper resource="spring/dao/mapper/QuestionDOMapper.xml"/>
    </mappers>
</configuration>