<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bugkillers - 首页</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bugkillers/css/index.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/common/lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="/static/common/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/common/lib/angularjs/angular.min.js"></script>
    <script src="/static/common/lib/angularjs/angular-route.min.js"></script>

    <script src="/static/bugkillers/js/base/bkbase.js"></script>
    <script src="/static/bugkillers/js/index.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="index" ng-controller="indexCtrl">

<div ng-include="'../head/'"></div>

<div class="container">
    <div class="tab">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#" id="getlast">最新的</a></li>
            <li role="presentation"><a href="#">热门的</a></li>
            <li role="presentation"><a href="#">未答得</a></li>
        </ul>
    </div>
    <br/>

    <div class="questionlist">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="questiontitle">
                    <a href="#"><h4 style="display: inline-block">JVM内存管理的问题</h4></a>
                    <button class="btn btn-primary pull-right btn-xs" type="button">
                        投票 <span class="badge">14</span>
                    </button>
                    <button class="btn btn-success pull-right btn-xs" type="button">
                        回答 <span class="badge">1</span>
                    </button>
                    <button class="btn btn-warning pull-right btn-xs" type="button">
                        浏览 <span class="badge">403</span>
                    </button>
                </div>
                <p>这几天我看了一些资料，上面说Java虚拟机是用明确的内存分配的，后来又看到一个问题，String s = new String("a"); 创建了几个对象？</p>

                <div id="">
                    <span class="label label-info">java</span>

                    <span>dongbin 于昨天4点提出</span>
                </div>
            </li>

            <li class="list-group-item">
                <span class="badge">14</span>
                22
            </li>
        </ul>
    </div>
    <div ng-include="'../footer/'"></div>
</div>
</body>
</html>