<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bugkillers.back.tag.dao.TagMapper">
    
	<insert id="save" parameterType="org.bugkillers.back.bean.Tag" keyColumn="pk_tag" keyProperty="pk_tag" useGeneratedKeys="true">
		insert into tag (pk_tag,name) 
		           values(#{pk_tag},#{name})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from tag where pk_tag = #{pk_tag}
	</delete>

	<update id="update" parameterType="org.bugkillers.back.bean.Tag">
		update tag set name = #{name}  where pk_tag = #{pk_tag}
	</update>

	<select id="findByPk" parameterType="int"
		resultType="org.bugkillers.back.bean.Tag">
		select * from tag where pk_tag= #{pk_tag}
	</select>
	
	<select id="findAll" resultType="org.bugkillers.back.bean.Tag">
		select * from tag
	</select>
	
</mapper>